fastapi
uvicorn[standard]
python-dotenv
twilio
websockets
pipecat-ai[silero,whisper,twilio,google]
ollama
piper-tts
google-genai
requests
pyttsx3
SpeechRecognition
eel
pypdf
faster-whisper
pywhatkit
dateparser
numpy
scipy
playsound
